<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../partials/head') %>
</head>

<body>
    <%- include('../partials/navbar') %>
        <% if(products.length > 0){%>
            <%products.forEach(function(product){ %>

                <div class="row container py-y my-5 text-center">
                    <div class="col-md-6">
                        <div class="card">
                            <div class="card-header">
                                <%=product.title%>
                            </div>
                            <div class="card-body">
                                <h5 class="card-title">
                                    Quantity:
                                    <%= product.cartItem.quantity %>
                                </h5>
                                <form action="/cartDelete/<%=product.id%>" method="POST">
                                    <button type="submit" class="btn btn-danger">Delete</button>
                                </form>
                            </div>
                        </div>
                        <form action="/checkout" method="POST">
                            <button type="submit" class="btn btn-success">Checkout</button>
                        </form>
                    </div>
                </div>

                <% }) %>
                    <% }else { %>
                        <h2>NO Items in CART</h2>
                        <% } %>
</body>

<%- include('../partials/footer') %>

</html>