<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../partials/head') %>
</head>

<body>
    <%- include('../partials/navbar') %>
        <% if(user.length > 0){%>
            <%user.forEach(function(userCart){ %>

                <div class="row container py-y my-5 text-center">
                    <div class="col-md-6">
                        <div class="card">
                            <div class="card-header">
                                <%=userCart.productID.title%>
                            </div>
                            <div class="card-body">
                                <h5 class="card-title">
                                    Quantity:
                                    <%= userCart.quantity %>
                                </h5>
                                <form action="/cartDelete/<%=userCart.productID._id%>" method="POST">
                                    <button type="submit" class="btn btn-danger">Delete</button>
                                </form>
                            </div>
                        </div>

                    </div>
                </div>

                <% }) %>
                    <form action="/order" method="POST">
                        <button type="submit" class="btn btn-success">Checkout</button>
                    </form>
                    <% }else { %>
                        <h2>NO Items in CART</h2>
                        <% } %>
</body>

<%- include('../partials/footer') %>

</html>