<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../partials/head') %>
</head>

<body>
    <%- include('../partials/navbar') %>
        <%user.forEach(function(userCart){ %>

            <div class="row container py-y my-5 text-center">
                <div class="col-md-6">
                    <div class="card">
                        <div class="card-header">
                            <%=userCart.productID.title%>
                        </div>
                        <div class="card-body">
                            <h5 class="card-title">
                                Quantity:
                                <%= userCart.quantity %>
                            </h5>
                        </div>
                    </div>
                    <div>
                        <h2>Total :
                            <%=totalPrice%>
                        </h2>
                    </div>
                </div>
            </div>

            <% }) %>
</body>

<%- include('../partials/footer') %>

</html>