<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../partials/head') %>
</head>

<body>
    <%- include('../partials/navbar') %>

        <form action="/productUpdate/<%=prod.id%>" method="POST" class="container py-5 my-5" enctype="multipart/form-data">
            <div class="form-group">
                <label for="exampleInputEmail1">Title</label>
                <input type="text" class="form-control" placeholder="Enter Title.." name="title" value="<%=prod.title %>" />
            </div>
            <div class="form-group">
                <label for="exampleInputPassword1">Description</label>
                <input type="text" class="form-control" placeholder="Enter Description" name="description" value="<%=prod.description %>" />
            </div>
            <div class="form-group">
                <label for="exampleInputPassword1">Image</label>
                <input type="file" class="form-control" name="image" />
            </div>
            </div>
            <div class="form-group">
                <label for="exampleInputPassword1">Price</label>
                <input type="number" class="form-control" placeholder="Enter Price" name="price" value="<%= prod.price %>" />
            </div>


            <input type='hidden' name="_csrf" value="<%=csrf%>">
            <button type="submit" class="btn btn-primary text-center">Submit</button>
        </form>
</body>

<%- include('../partials/footer') %>

</html>