<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../partials/head') %>
</head>

<style>
    .active {
        background: blue;
    }
</style>

<body>
    <%- include('../partials/navbar') %>

        <div class="container my-5 py-5">
            <% if (product.length > 0) { %>
                <div class="row ">
                    <% product.forEach(function (item) { %>
                        <div class="col-md-4 col-sm-12 col-lg-4">
                            <div class="card" style="width: 18rem;">
                                <img src="<%=item.image%>" class="card-img-top" />
                                <div class="card-body">
                                    <h5 class="card-title">
                                        <%= item.title %>
                                            <p class="ml-auto">
                                                <%= item.price %>
                                            </p>
                                    </h5>
                                    <p class="card-text">
                                        <%= item.description %>
                                    </p>
                                    <div class="text-center">
                                        <a href="/details/<%=item.id%>" class="btn btn-primary">Details</a
                >
                <form action="/addtocart/<%= item.id %>" method="POST">
                  <input type="hidden" name="_csrf" value="<%=csrf%>" />
                  <button class="btn btn-primary" type="submit">
                    Add To Cart
                  </button>
                </form>
              </div>
            </div>
          </div>
        </div>

        <%})%>
      </div>
      <div class="pagination">
        <h1>
          <%if(currentPage !== 1 && previousPage !==1){ %>
          <a href="/?page=1" class="badge badge-info">1</a>
                                        <%}%>
                                            <%if(hasPreviousPage) { %>
                                                <a href="/?page=<%=previousPage%>" class="badge badge-info">
                                                    <%=previousPage%>
                                                </a>
                                                <%}%>
                                                    <a href="/?page=<%=currentPage%>" class="badge badge-info active">
                                                        <%=currentPage%>
                                                    </a>
                                                    <%if(hasNextPage) { %>
                                                        <a href="/?page=<%=nextPage%>" class="badge badge-info">
                                                            <%=nextPage%>
                                                        </a>
                                                        <%}%>
                                                            <%if(lastPage !== currentPage && nextPage !== lastPage) {%>
                                                                <a href="/?page=<%=lastPage%>" class="badge badge-info">
                                                                    <%=lastPage%>
                                                                </a>
                                                                <%}%>
                                                                    </h1>
                                    </div>

                                    <% } else { %>
                                        <h1>No Product Found..</h1>
                                        <% } %>
                                </div>
</body>

<%- include('../partials/footer') %>

</html>